html {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  transition: all ease-in-out .3s;
}

::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  // background: $lavish-green;
  background: black;
  border-radius: 1rem;
}

::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}
